@page "/medicoverview"
@using HealthcareManagementSystem.App.Contracts
@using HealthcareManagementSystem.App.ViewModels

<h3>MedicOverview</h3>

@if (Medics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var medic in Medics)
            {
	            <tr scope="row">
                    <td class="name">
                        <NavLink class="nav-link" href=@($"addexamination/{medic.Id}")>
                            @medic.FirstName @medic.LastName
                        </NavLink>
                    </td>
		            <td class="department">@medic.Department.ToString()</td>
	            </tr>
            }
        </tbody>
    </table>

    @* <table class="nested-table ms-auto me-auto">
        <thead>
            <tr>
                <th class="category-event-header">Medic First Name</th>
                <th class="category-event-header">Medic Last Name</th>
                <th class="category-event-header">Medic Department Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medic in Users)
            {
                <tr>
                    <td class="event-name">@medic.FirstName</td>
                    <td class="event-date">@medic.LastName</td>
                    <td class="event-price">@medic.Department.ToString()</td>
                </tr>
            }
        </tbody>
    </table> *@
}

@code {
    [Inject]
    public IMedicDataService MedicDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<GetMedic> Medics { get; set; }
}

    @functions {
    protected override async Task OnInitializedAsync()
    {
        Medics = (await MedicDataService.GetMedicsAsync()).ToList();
    }

    private void OnIncludeHistoryChanged(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            NavigationManager.NavigateTo("/medicoverview?includeHistory=true");
        }
        else
        {
            NavigationManager.NavigateTo("/medicoverview");
        }
    }
}
