@page "/useroverview"
@using HealthcareManagementSystem.App.Contracts
@using HealthcareManagementSystem.App.ViewModels

<h3>All Users</h3>

@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Users)
            {
                <tr scope="row">
                    <td class="event-name">@user.FirstName</td>
                    <td class="event-date">@user.LastName</td>
                    <td class="event-price">@user.DateOfBirth.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>

    @* <table class="nested-table ms-auto me-auto">
        <thead>
            <tr>
                <th class="category-event-header">Medic First Name</th>
                <th class="category-event-header">Medic Last Name</th>
                <th class="category-event-header">Medic Department Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medic in Users)
            {
                <tr>
                    <td class="event-name">@medic.FirstName</td>
                    <td class="event-date">@medic.LastName</td>
                    <td class="event-price">@medic.Department.ToString()</td>
                </tr>
            }
        </tbody>
    </table> *@
}

@code {
    [Inject]
    public IUserDataService UserDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<UserViewModel> Users { get; set; }
}

    @functions {
    protected override async Task OnInitializedAsync()
    {
        Users = (await UserDataService.GetUsersAsync()).ToList();
    }
}
